<h1>New Party!</h1>

<div class="grid_card">
  <% @letters.shuffle.each do |letter| %>
    <div class="letter">
      <p><%= letter %></p>
    </div>
  <% end %>
</div>

<%# Add a form for the user to submit their answer %>
<div class="form_card">
  <%= form_with model: @party, url: game_parties_path, method: :post do |form| %>
    <%= form.label :word, "Your answer:" %>
    <%= form.text_field :word %>
    <%= form.submit "Go!" %>
    <%= form.hidden_field :ten_letters_list, value: @letters %>
  <% end %>
</div>
